@model FolderBrowserCopy.Models.FileModel
@{
    ViewBag.Title = "Home Page";
}

<div class="form-group">
    <label for="exampleFormControlSelect1">Select directories</label>
    @Html.DropDownList("ListItem", (IEnumerable
        <SelectListItem>)ViewBag.ListItem, new { @onchange = "callChangefunc(this.value)" })

    @*@Html.DropDownList("Sortby", new SelectListItem[]
        {
             new SelectListItem() { Text = "Newest to Oldest", Value = "0" },
             new SelectListItem() { Text = "Oldest to Newest", Value = "1" }},
             new { @onchange="callChangefunc(this.value)"
        });*@
</div>
<button id="add_folder" type="button" class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#exampleModal">Add Folder</button>
<button id="deleteFile" type="button" class="btn btn-success" disabled="disabled" onc>Delete Files</button>
<button id="manageFolder" type="button" class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#manageModal">Manage Folder</button>
<button id="uploadFiles" type="button" class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#uploadModal">Upload Files</button>

<!-- Button trigger modal -->
@*<button id="add_folder" type="button" class="btn btn-primary" data-toggle="modal">
        Add Folder
    </button>*@
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="hello hitesh">Open modal for</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="">Open modal for </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="">Open modal for </button>*@
<div id="bsTree"></div>

<br />

<div id="div_"></div>

<div class="modal fade" id="manageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Manage Folder</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        Selected Library: <span id="library_path">currentDirPath</span>
                    </div>
                    <div class="form-group">
                        Click here to delete folder:
                        <button id="delete_folder" type="button" class="btn btn-primary">Delete</button>
                    </div>
                    <div class="form-group">
                        Click here to rename folder:
                        <button id="rename_folder" type="button" class="btn btn-primary">Rename</button>
                        <div id="rename_box">
                            Folder Name: <input type="text" class="form-control" id="input_old_name_folder" readonly>
                            Rename To: <input type="text" class="form-control" id="input_new_name_folder">
                            <button id="save_rename_folder" type="button" class="btn btn-primary">Save</button>
                            <button id="close_rename_folder" type="button" class="btn btn-primary">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Upload Files</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        Selected Library: <span id="library_path">currentDirPath</span>
                    </div>
                    <div class="form-group">
                        <input type="file" id="fileInput" multiple />
                    </div>
                    @*<div class="form-group">
                            <div id="rename_box">
                                <button id="save_tempuploadFiles" type="button" class="btn btn-primary ">Upload Files</button>
                            </div>
                        </div>*@
                </form>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div id="rename_box">
                        <button id="save_uploadFiles" type="button" class="btn btn-primary">Upload Files</button>
                        <button id="delete_uploadFiles" type="button" class="btn btn-primary">Delete Files</button>
                        <button id="close_uploadFiles" type="button" class="btn btn-primary">Close</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="divTempFilesGrid"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Add Folder</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        Selected Library: <span id="library_path">currentDirPath</span>
                    </div>
                    <div class="form-group">
                        Folder Name:
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="create_folder_new" type="button" class="btn btn-primary">Create New</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        var currentDirPath = "";
        var baseDir = "";
        var nodeId = -1;
        $(function () {
            //init();
        });

        function callChangefunc(val) {
            if (val != "0") {
                baseDir = val;
                nodeId = -1;
                currentDirPath = val;
                $.ajax({
                    url: "/TreeView/GetServerPath",
                    data: {
                        baseDir: baseDir,
                    },
                    type: "POST",
                    success: function (resp) {
                        baseDir = resp;
                        currentDirPath = resp;
                        init(baseDir);
                        getFiles(baseDir);
                    }
                });
                $('.btn').removeAttr('disabled');
            }
            else {
                $('.btn').attr("disabled", "disabled");
            }
        }

        $('#rename_box').hide();
        $('#exampleModal').on('show.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.modal-body span').text(currentDirPath)
        })

        $('#manageModal').on('show.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.modal-body span').text(currentDirPath);
            $('#rename_box').hide();
        })

        $('#uploadModal').on('show.bs.modal', function (event) {
            
            var modal = $(this)
            modal.find('.modal-body span').text(currentDirPath);
            $("#divTempFilesGrid").html('');
            $("#fileInput").val(null);
        })


        function init(baseDir) {
            $.ajax({
                url: "/TreeView/TreeData",
                data: {
                    baseDir: baseDir,
                },
                type: "POST",
                success: function (resp) {
                    console.log(JSON.stringify(resp));
                    $("#bsTree").treeview({
                        data: resp,
                        onNodeSelected: function (event, data) {
                            
                            nodeId = data.nodeId;
                            currentDirPath = data.path;
                            getFiles(currentDirPath);
                        },
                    });
                    
                    $('#bsTree').treeview('selectNode', [nodeId, { silent: true }]);
                    $('#bsTree').treeview('expandNode', [nodeId, { levels: 1, silent: true }]);
                    $('#bsTree').treeview('revealNode', [nodeId, { levels: 1, silent: true }]);
                },
                error: function (jqXHR, exception) {
                },
            });
        }

        function getFiles(path) {
            $.ajax({
                url: "/TreeView/GetFiles",
                data: {
                    directory: path,
                },
                type: "POST",
                success: function (result) {
                    
                    $("#div_").html(result);
                },
                error: function (jqXHR, exception) {
                },
            });
        };

        function deleteFiles(list) {
            
            $.ajax({
                url: "/TreeView/DeleteFiles",
                data: {
                    files: list,
                },
                type: "POST",
                success: function (result) {
                    
                    if (currentDirPath) {
                        getFiles(currentDirPath);
                    }
                },
                error: function (jqXHR, exception) {
                },
            });
        };

        function folderRename(folderName) {
            

            $.ajax({
                url: "/TreeView/FolderRename",
                data: {
                    oldPath: currentDirPath,
                    newName: folderName
                },
                type: "POST",
                success: function (result) {
                    init(baseDir)
                    $("#manageModal .close").click()
                },
                error: function (jqXHR, exception) {
                },
            });
        };

        $("#create_folder_new").click(function (e) {
            e.preventDefault();
            
            var folderName = $('#exampleModal').find('.modal-body input').val();
            var re = /^[a-zA-Z].*/;
            if (re.test(folderName)) {
                createFolder(folderName);
            }
            else {
                alert("Folder name Invalid!")
            }
        });

        $("#delete_folder").click(function (e) {
            e.preventDefault();
            var result = confirm("Are you sure want to delete !");
            if (result == true) {
                deleteFolder();
            }
        });

        $("#rename_folder").click(function (e) {
            e.preventDefault();
            $('#rename_box').show();
            $.ajax({
                url: "/TreeView/GetFolderName",
                data: {
                    path: currentDirPath,
                },
                type: "GET",
                success: function (result) {
                    $('#input_old_name_folder').val(result);
                },
                error: function (jqXHR, exception) {
                },
            });
        });

        $("#save_rename_folder").click(function (e) {
            e.preventDefault();
            var folderName = $('#input_new_name_folder').val();
            var re = /^[a-zA-Z].*/;
            if (re.test(folderName)) {
                folderRename(folderName);
            }
            else {
                alert("Folder name Invalid!")
            }
        });

        $("#close_rename_folder").click(function (e) {
            e.preventDefault();
            $('#rename_box').hide();
        });


        function deleteFolder() {
            
            $.ajax({
                url: "/TreeView/DeleteFolder",
                data: {
                    folderPath: currentDirPath,
                },
                type: "POST",
                success: function (result) {
                    init(baseDir)
                    alert("Folder has been successfully deleted.");
                    $("#manageModal .close").click()
                },
                error: function (jqXHR, exception) {
                },
            });
        };

        function createFolder(folderName) {
            
            $.ajax({
                url: "/TreeView/CreateFolder",
                data: {
                    folderName: folderName,
                    path: currentDirPath,
                },
                type: "POST",
                success: function (result) {
                    init(baseDir)
                    $("#exampleModal .close").click()
                },
                error: function (jqXHR, exception) {
                },
            });
        };

        $("#deleteFile").click(function (e) {
            e.preventDefault();
            var result = confirm("Are you sure want to delete this file!");
            if (result == true) {
                var fileIds = new Array();
                $("#tbl_files").find('.chkCheckBoxId').each(function () {
                    if ($(this).is(':checked')) {
                        fileIds.push($(this).val());
                    }
                })
                deleteFiles(fileIds);
            }
        });


        $(document).ready(function () {
            $("#save_uploadFiles").click(function () {
                uploadFilesLocalDirectory();
            });
            function uploadFilesLocalDirectory() {
                var files = $("#fileInput").get(0).files;
                var fileData = new FormData();

                if (files.length <= 0) {
                    alert("Please select file(s).");
                    return;
                }
                for (var i = 0; i < files.length; i++) {
                    fileData.append("fileInput", files[i]);
                }
                fileData.append("directoryPath", currentDirPath);

                $.ajax({
                    type: "POST",
                    url: "/TreeView/UploadFilesToDirectory",
                    dataType: "json",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result, status, xhr) {
                        getTempFiles(currentDirPath);
                        alert(result.successMessage);
                    },
                    error: function (xhr, status, error) {
                        alert(status);
                    }
                });
            }
            
            $("#delete_uploadFiles").click(function () {
                var fileIds = new Array();
                $("#tbl_Tempfiles").find('.chkCheckBoxId').each(function () {
                    if ($(this).is(':checked')) {
                        fileIds.push($(this).val());
                    }
                });

                if (fileIds.length <= 0) {
                    alert("Please select file(s).");
                    return false;
                } else {
                    $.ajax({
                        url: "/TreeView/DeleteTempFiles",
                        data: {
                            files: fileIds,
                        },
                        type: "POST",
                        success: function (result) {
                            getTempFiles(currentDirPath);
                        },
                        error: function (jqXHR, exception) {
                        },
                    });
                }
            });


            $(document).ajaxStart(function () {
                $("#save_uploadFiles").prop('disabled', true);
            });

            $(document).ajaxStop(function () {
                $("#save_uploadFiles").prop('disabled', false);
                $("#fileInput").val(null);
            });
        });


        function getTempFiles(path) {
            $.ajax({
                url: "/TreeView/UploadedFilesGrid",
                data: { directoryPath: path },
                type: "POST",
                success: function (result) {
                    $("#divTempFilesGrid").html(result);
                    $("#fileInput").val(null);
                },
                error: function (jqXHR, exception) {
                },
            });
        };

        $('#uploadModal').on('hidden.bs.modal', function () {
            getFiles(currentDirPath);
        })

        $("#close_uploadFiles").click(function (e) {
            
            e.preventDefault();
            $("#uploadModal").find('button.close').click();
        });

    </script>
}